Flask==3.0.3
Werkzeug==3.0.4
Jinja2==3.1.4
MarkupSafe==2.1.5
itsdangerous==2.2.0
click==8.1.7
blinker==1.8.2
stripe==15.1.0
python-dotenv==1.2.1
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.35
Flask-Login==0.6.3
Flask-WTF==1.2.1
WTForms==3.1.2
Flask-Migrate==4.0.7
alembic==1.13.2
email-validator==2.2.0
