{% extends "base.html" %}

{% block content %}
<p>I’m Raichuu, an artist passionate about blending vibrant visuals with deep emotional narratives. My work draws inspiration from nature, urban landscapes, and personal experiences, creating a vivid world where colors and forms come alive. I love experimenting with different mediums, whether it’s painting, digital art, or installations, to engage my audience and encourage them to explore their own interpretations. Through my art, I aim to ignite curiosity and spark conversation, inviting viewers to journey alongside me in the creative process.</p>
{% endblock %}
