<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <title>{{ title }} - Raichuu</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="header-background">
        <h1>Raichuu</h1>
        <p>Creating digital art, process videos, tutorials, wallpapers and more</p>
    </header>
    <nav>
		<a href="{{ url_for('home') }}">Home</a>
		<a href="{{ url_for('about') }}">About</a>
		<a href="{{ url_for('collections') }}">Collections</a>
    </nav>
    <div class="container">
        <h2>{{ title }}</h2>
		{% block content %}{% endblock %}
    </div>
</body>
</html>
